

<div class="contenedor_seccion">
	<div class="titulo_secciones  sombra">
	 
	<img height="25" *ngIf="titulo_proceso" [src]="titulo_proceso.icon_white" style="height: 33px;/* margin-right: 10px; */ position: absolute;left: 32%;">
	  {{titulo_proceso?.nombre}} 
	</div>

	<div class="breadcum">
		<mdb-breadcrumb customClass="black-text">
		  <mdb-breadcrumb-item class="active" >
		    <mdb-icon class="mr-2"></mdb-icon><img height="25" class="mr-2"  *ngIf="titulo_proceso" [src]="titulo_proceso.icon_black" >  {{titulo_proceso?.nombre}} 
		  </mdb-breadcrumb-item>
		  <mdb-breadcrumb-item class="active" >
		    <mdb-icon  fas icon="angle-double-right" class="mr-1 "></mdb-icon> {{seleccionMenu?.fuente}}
		  </mdb-breadcrumb-item >

  		<mdb-breadcrumb-item class="active" *ngIf="seleccionMenu?.hijo_seleccionado?.hijo_nombre" > <!--style="cursor: pointer;" (click)="fn_setAdjuntoActual(seleccionMenu.hijo_seleccionado.hijo_anexo,'hijo')"-->
		    <mdb-icon  fas icon="angle-double-right" class="mr-1 "></mdb-icon> {{seleccionMenu.hijo_seleccionado.hijo_nombre}}
		 </mdb-breadcrumb-item >

  		<mdb-breadcrumb-item class="active" *ngIf="seleccionMenu?.nieto_seleccionado?.hijo_nombre" >
		    <mdb-icon  fas icon="angle-double-right" class="mr-1 "></mdb-icon> {{seleccionMenu.hijo_seleccionado.hijo_nombre}}
		 </mdb-breadcrumb-item >

  		<mdb-breadcrumb-item class="active" *ngIf="seleccionMenu?.nieto_seleccionado?.nieto_seleccionado_nombre" >
		    <mdb-icon  fas icon="angle-double-right" class="mr-1 "></mdb-icon> {{seleccionMenu.nieto_seleccionado.nieto_seleccionado_nombre}}
		 </mdb-breadcrumb-item >
		</mdb-breadcrumb>

	</div>	
<!-- [ngClass]="seleccionMenu?.fuente=='Indicadores'?'':'d-none'" -->
				<div class="contenedor_indicadores mt-2"  [ngClass]="seleccionMenu?.fuente=='Indicadores'?'':'d-none'" >
						<div class="row">
							<div class="col-sm-12" >
								<div class="md-form mb-3">
									<label for="dependencias" class="col-form-label pl-2">Categoría de Servicio</label>
									<select class="browser-default custom-select" 
										[(ngModel)]="indicador" (change)="fn_generarGrafica()" mdbInput mdbValidate id="titulo_proceso">
										<option [ngValue]="null"
											*ngIf="!indicador">Selecciona
											Indicador</option>
											<!-- si el ultimo caracter es $ se borra-->
										<option *ngFor="let item of titulo_proceso?.indicadores" [ngValue]="item">
											{{item.nombre_indicador[item.nombre_indicador.length-1]=='$'?item.nombre_indicador.substring(0, item.nombre_indicador.length - 1):item.nombre_indicador}}</option>
									</select>
								</div>
							</div>
							<div class="col-12 position-relative " [ngStyle]="{ 'display': indicador==null?'none':'flex'}">
								<div #bar_chart id="bar_chart"  class="sombra w-100 d-flex align-items-center justify-content-center" style="border-radius:5px;width:80%;"></div>
							</div>
						</div>
					</div>
				
		<a   href="{{seleccionMenu?.anexo}}" *ngIf="seleccionMenu?.anexo_carga_mostrar" download="{{seleccionMenu?.anexo_carga_mostrar}}" style="margin-left: 6%;" >{{seleccionMenu?.anexo_carga_mostrar}}</a>
		<div class="contenedor_caracterizacion sombra" style="max-height: 72%;height: 71%;margin: 0 auto;" [ngClass]="seleccionMenu?.fuente!='Indicadores'?'':'d-none'" >
			<object *ngIf="seleccionMenu.anexo_carga_mostrar" [data]="seleccionMenu.anexo | safe" type="application/pdf" width="100%" height="100%">
			<p>Habilita por favor el visor de PDF en las opciones de tu navegador. 
			<a href="{{seleccionMenu.anexo}}">Download PDF</a>.</p>
			</object>
		    
		</div>
	<span [ngClass]="seleccionMenu?.formatos?.length>0?'':'d-none'">
		<div  [ngClass]="seleccionMenu.bFlecha_animacion?'container_flecha_animacion_izq':'container_flecha_animacion_der'" (click)="seleccionMenu.bFlecha_animacion=!seleccionMenu.bFlecha_animacion" mdbTooltip="Formatos asociados" placement="left" >
			<i mdbWavesEffect class="fas estilo_flecha_animacion" [ngClass]="seleccionMenu.bFlecha_animacion?'fa-angle-double-left':'fa-angle-double-right'" ></i>
		</div>
	</span>
	<div class="sidebar_right background_sidemenu" [ngClass]="seleccionMenu.bFlecha_animacion?'sidebar_right_close':'sidebar_right_open'">
		<div class="container_accordion_right">

	      <mdb-accordion [multiple]="true"  *ngIf="seleccionMenu?.formatos">
	        <mdb-accordion-item [collapsed]="false"  >
	          <mdb-accordion-item-head   mdbWavesEffect>
	            <span [ngStyle]="{'font-weight':seleccionMenu?.seleccion_formato?'bold':'unset'}">Formatos</span>


	          </mdb-accordion-item-head>

	          <mdb-accordion-item-body mdbWavesEffect>		
	          	<div  *ngFor="let item of seleccionMenu?.formatos" (click)="fn_setRigthOption(item,'formatos');seleccionMenu.bFlecha_animacion=!seleccionMenu.bFlecha_animacion" style="cursor:pointer;"
	          		>
		         <span [ngStyle]="{'font-weight':seleccionMenu?.nieto_seleccionado?.nieto_seleccionado_nombre==item.hijo_nombre?'bold':'unset'}">{{item.hijo_nombre}}</span>


	          	</div>
	          </mdb-accordion-item-body>
	        </mdb-accordion-item>
	      </mdb-accordion>
		</div>
	</div>


</div>


