$verde_umanizalesb:  #a8cf45;
$verde_umanizales2: #76c04e;
$gris_umanizales_background: #666666;
$gris_claro: #eaeaea;
$gris_oscuro:#343434;

.background_sidemenu.side-nav{
    transform: translateX(0%) !important;
    opacity:1;
    z-index: 1002;
}
.fixed-top {
    z-index: 1005;
}

.fixed-action-btn{
  z-index: 1004;
}

.contenedor_caracterizacion{
  border:1px solid #dcdcdc;
  width: 88%;
  z-index: 999 !important;
  position:relative;
  z-index: 1 !important;
}

.texto_menu{
  color: white;
  font-size: 19px;
}
.background_sidemenu{
  background: url('./assets/img/mascara_seccion.png')  #666666;;
}

.boton_flotante{
  bottom: 0%; 
  right: -3px; 

}
.texto_verde_oscuro{
  color:rgba(104,192,77,1)
}
.verde_oscuro{
    background-color:rgba(104,192,77,0.8);
}

.quitar_flecha_accordion i{
  display: none;
}

.container_fuentes a{
  height: auto;
}


.animation_opacity{
  transition: all 2s ease;
  opacity: 1;
}

.animation_opacity_ocultar{
  pointer-events:none;
  opacity:0;
}

.animation_opacity_mostrar{
  opacity:1;
  pointer-events:all;

}

.animation_mapa{
  transition: all 0.5s ease;
  opacity: 1;
}

.animation_mapa.mx-3, animation_mapa.ml-3{
  margin-left: 0px !important;
  margin-right: 0px !important;

}

.animation_mapa_ocultar{
  transform: translate(101%, 0%);
    opacity: 0;

}

.animation_mapa_mostrar{

}

.sombra:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.40), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contenedor_mapa{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px !important;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  flex-wrap: nowrap !important;
}

.contenedor_ppal_mapa{
  overflow-x: hidden;
  position: absolute;
  width: 100%; 
  top:40px;
}

.background_sidemenu .card{
   background: transparent;
}
.background_sidemenu .accordion .card .card-header {
   color: #FFFFFF !important;
   font-weight: bold;
}
/*
.sidebar_right .sb-item-body.ng-trigger.ng-trigger-expandBody{
    height: auto !important;
    visibility: visible !important;
}

.sidebar_right .accordion .card .card-body {
    padding-bottom: 0px !important;
}

.sidebar_right .accordion.card.card-header {
    padding-left: 20px !important;
}

.sidebar_right .side-nav a {
    padding-left: 20px !important;
}
*/

.accordion .card.card-header h5 {
   font-size: 1.10rem;
   font-weight: bold;
}

.accordion .card .card-header {
    padding: 4px 15px 4px 20px !important;
}

.side-nav a {
    padding-left: 20px !important;
}

.side-nav .fa-angle-down.rotate-icon {
    top: 0.3rem;
}

.menuHovering{
  width: 80%;

  max-height:0px;
  transition: all 0.6s ease;
  top:58px;
  padding: 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  pointer-events:all;
  background-color: red;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items:center;
  background:  #FFFFFF;
  opacity: 1;
  z-index: 999;
  color:#666666;
  border-radius:5px;

}

.container_check{
  display: flex;
  __justify-content: center;
  __align-items:center;
}
.elemento_submenu{
  padding: 30px;
  width:100%;
  text-align:justify;
  background: url('./assets/img/mascara_seccion.png') right top repeat-x #FFFFFF;

}
.mascara1_background{
  background: url('./assets/img/mascara_seccion.png') right top repeat-x #FFFFFF;
}
.elemento_submenu span{
  font-style:italic;

}

.elementos_menu:hover + div.menuHovering, div.menuHovering:hover, .no_ocultar_menu:hover{
  max-height: 900px;
  opacity: 1;
}

.elementos_menu span:hover{
  __border-bottom: 2px solid rgba(255,255,255,1);
  outline:2px solid rgba(255,255,255,1);

}

.elementos_menu span{
  transition: all 0.2s ease;
  __border-bottom: 2px solid rgba(255,255,255,0);
    outline: 2px solid rgba(255,255,255,0);
  border-left:1px solid white;
}

.forma_titulos{
  height: 38px;
  width: 558px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  -webkit-animation-fill-mode: forwards;    
  z-index: 2;
  filter: drop-shadow(0 0 1px #333);
  __background-color:rgba(168,207,69,1);
  border-radius:32px;
  background-color: rgba(102,102,102,1);
  background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(102,102,102,1);
  cursor:context-menu;
}

.forma_titulos:hover{
  background-color:rgba(168,207,69,0.8);
  __background-color: rgba(102,102,102,1);


}

.breadcum{
  width:100%;
  margin-top: 60px;
}
.breadcrumb{
  margin:0px !important;
}

.sidebar_right{
  width: 272px;
  height: 100vh;
  transition: all 0.2s ease;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1004 !important;
  margin-top: 54px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.breadcrumb-item.active {
  font-size:14px;
}
.sidebar_right_open{
  
}
.sidebar_right_close{
  transform: translate(272px, 0);  
}

.ocultar_linea{
  opacity: 0;
  pointer-events: none;
}

.titulo_secciones{
  height: 41px;
  width: 100%;
  position: relative;
  top: 56px;
  background-color: rgba(234, 234, 234, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: url('./assets/img/mascara_seccion.png') right top repeat-x #666666;
  /* background-color: white; */
  color: white;
  font-size: 20px;
}
.estilo_flecha_animacion{
  font-size: 60px; 
  color:#9c9595;
}

.container_flecha_animacion_izq{
  position:absolute;
  transform: translate(0%, -50%);
  top:50%;
  animation: animacion_flecha_izq 2s linear infinite;
  cursor:pointer;
  z-index: 8;
}
/*.container_flecha_animacion{
  animation: animacion_flecha_izq 3s linear infinite;
}*/
.container_flecha_animacion_der{
  position:absolute;
  transform: translate(0%, -50%);
  top:50%;
  animation: animacion_flecha_der 2s linear infinite;
  cursor:pointer;
  z-index: 8;
}


@keyframes animacion_flecha_izq {
  from {right: 0px; opacity:0.5;}
  to {right: 25px; opacity:1;}
}
@keyframes animacion_flecha_der {
  from {right: 300px;opacity:0.5;}
  to {right: 260px;opacity:1;}
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-size: 15px !important;
}

.contenedor_seccion{
  overflow-x:hidden;
  height:100vh;
  __position:relative;
  margin-left:269px;
  margin-top: -24px;

}
.centrado_horizontal{
  position:absolute;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(-50%, 0%);
}

.centrado_texto_titulos {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(-50%, -31%);
    color:#343434;
}

.centrado_hv{
    position:absolute;
    left: 50%;
    top: 50%;    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container_fuentes .accordion .card .card-header {
    padding: 4px 15px 4px 4px !important;
}

.sidebar_right .md-accordion .card .card-body {
    margin-left: 20px;
    color: white;
    line-height: 1.4;
    font-size: 15px;
}
.container_accordion_right{
  margin-left:5px;
  margin-top:5px;
}

.accordion h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.card-body h5:hover,.accordion h5:hover, .accordion span:hover{
  opacity:0.5;
}

.st0{fill:#FF0000;}

/*
.texto_titulo_1:hover #gerenciales{
  opacity:  0.5;
}*/

.texto_titulos{
  font-weight: 700;
  z-index: 3;
  top: 14px;
  __color:#343434;
  color:#ffffff;
  font-size:20px;

}

.texto_titulos:hover  ~ .forma_titulos{
  background-color:rgba(168,207,69,0.8);
}

.fondo_categorias {
  height: 50px;
  width: 709px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  -webkit-animation-fill-mode: forwards;
  height: 141px;

}

.bloque_izq{
  height: 507px;
  width: 111px;
  background-color: rgba(168,207,69,1);
  border-radius: 32px;
  -webkit-transition: all 0.5s ease;
  -webkit-animation-fill-mode: forwards; 
  opacity:  1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(168,207,69,1);

}

.rectangulo_categoria{
  border-radius: 34px;
  __border: 5px solid rgba(108,192,80,1);
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items:center;
  box-shadow: -1px 2px 18px 0px rgba(0, 0, 0, 0.75);
  background-color:rgba(168,207,69,0.8);
  overflow: hidden;
  background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(168,207,69,0.8);
  cursor:pointer;
}

.rectangulo_categoria:hover  .texto_engranen_1{
  transform: translate(168px,0px);
  opacity: 0;
}

.icon_1{
  position: absolute !important;
  width: 41px;
  z-index: 1;
  transition:0.5s all ease-out;
  transform: translate(-61px, 0px);
  opacity: 0;
  pointer-events: none;
}

.rectangulo_categoria:hover  .icon_1{
  opacity:1;
  transform: translate(-1px, 0px);


}

.rectangulo_categoria p{
  font-size: 17px;
}
.texto_bloque_izquierdo{
  transform: rotate(270deg);
  white-space: nowrap;
  font-size: 28px;
  color: #666666;
}

.texto_bloque_derecho{
  transform: rotate(450deg); 
  white-space: nowrap;
  font-size: 28px;
  color: #666666;

}


.bloque_izq:hover{
  __background-color: rgba(168,207,69,0.8);
    __background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(104,192,77,0.8);

}

.contenedor_bloque_izq{
  display: flex;
  justify-content: flex-end ;
  align-items: center;
  __cursor:pointer;

}
.contenedor_bloque_derecho{
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  __cursor:pointer;

}

.flecha_derecha_derecha{
  color: rgba(102,102,102,1);


  position: absolute;
  left:  -71px;
  font-size: 65px;
}

.flecha_derecha{
  color: rgba(102,102,102,1);

  position: absolute;
  right: -58px;
  font-size: 65px;
}

.fondo_categorias:hover {
  opacity: 0.8;
}
.icon_titulo_left{
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translate(0%,-50%);
  width: 32px;
}

.linea{
  width: 131%;
  border-top: 10px solid #666666;
  height: 11px;
  position: absolute !important;
  bottom: -62px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
.linea .fas{
  color:#666666;
}
.flecha_arriba{
  position: absolute;
  bottom: -43px;
  font-size: 47px;
  left: 42%;  
  color:#666666;
}

.seleccion_categoria{
  background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(104,192,77,0.8);
}
.seleccion_titulo{
  __background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(104,192,77,0.8);
  __background-color:rgba(168,207,69,0.8);
  background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(104,192,77,0.8);


}

.linea_union{
  position: absolute;
  font-size: 47px;
  right: 34%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: -43px;
  color:#666666;
}

.flecha_abajo{
  padding: 0px;
  z-index: 0;
  margin: 12px auto;
  display: block;
  font-size: 28px;
  color: #666666;
}

.flecha{
  height: 27px;
  width: 24px;
  padding: 0px;
  /* margin: 0px; */
  z-index: 0;
  margin: 6px auto;
}


.fondo_categoria_1{
  position: absolute;
  left: 0%;
  top: -5px;
}



.engranen_1{
  width: 123px;
  height: 123px;
  z-index: 2;   
  -webkit-transition: all 0.5s ease;
  -webkit-animation-fill-mode: forwards;    
  cursor:pointer;
}

.engranen_1:hover{
  width:123px;
  height:123px;
  filter: drop-shadow(0 0 2px #333);
  z-index: 2;
}

.bola_1{
  position: absolute !important;
  left: 6%;
  top: 14px;
  z-index: 1;
  pointer-events: none;
  width: 100px;
  height:100px;
}

.texto_engranen_1{
  line-height: 1;
  pointer-events: none;

  z-index: 1;
  /* left: 436px; */
  font-size: 12px;
  width: auto;
  font-weight: 500;
  pointer-events: none;
  line-height: 1;
  transition:0.5s all ease-out;

  opacity: 1;
  color:#343434;

}


.contenedor_engranen{
  position: relative;
  margin-top: 29px;
}

.contenedor_categorias{
  display: table;
  margin:-15px auto;
  __width: 709px; 
  width: 819px;
  height: 104px; 
  background-color: rgba(234,234,234,1);
  border-radius: 32px;
  transition:0.1s all ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(234,234,234,0.8);

  /*
  background-size: cover; 
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
}

/*
.contenedor_categorias::before {
  transition:0.5s all ease-out;
  content: '';
  background-image: url(/assets/img/fondo_categorias_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  width: 709px;
  height: 137px;
  margin: 0 auto;
  z-index: 1;
}

/*
.contenedor_categorias:hover::before{
  opacity: 0.8;

}
*/

.contenedor_categorias:hover{
  __background-color: rgba(234,234,234,0.8);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 12px 0 rgba(0, 0, 0, 0.12);

}




.engranen_1:hover ~ .texto_engranen_1{
 transform: translate(-15px,-22px);
  opacity: 0;

}
.engranen_1:hover ~ .fondo_categoria_1{
   opacity:0.7;
}


.engranen_1:hover ~ .icon_1{
  opacity:1;
  transform: translate(68px, 10px);


}





.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}
.clase{
  font-size:59px
}
.clase:hover{
  font-size:13px
}

.testimonial-card.card{
  height: 41vh !important;
}

mdb-card .card{
  height: 41vh !important;
}

.centrado_flex{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vh-100{
  height:100vh;
}


nav.navbar.scrolling-navbar {
    padding-bottom: 5px !important; 
    padding-top: 5px !important; 
    border-bottom: 2px solid green;

}
.side-nav {
  width: 17rem;
}

.h-inherit{
  height: inherit;
}

.fuenteSeleccionada{
  background:yellow;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin:0px;
}

.container_fuentes{
  margin-top: 57px;
}

.pointer{
  cursor:pointer;
}

.fuente{
  position: relative;
  background:white;
  height: 200px;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  opacity:1;
  
}

.fuente::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 44px;
    width: 136px;
    height: 32%;
    z-index: 99;
    background-image: url(/assets/img/logo_chec.png);
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
}

.fuente:hover{
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

  .fas.fa-bars.bola_resalte {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      /* background-color: rgba(192, 192, 192, 0.9); */
      box-shadow: 0 0 0 0 rgba(22, 107, 5, 0.7);
      -webkit-animation: pulse 1.5s infinite;
      animation: pulse 1.5s infinite;
  }

  .fas.fa-bars.bola_resalte:hover {
    animation: none;
  }

  @keyframes pulse {
    0% {
    transform: scale(0.9);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(90, 153, 212, 0);
    }
      100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }




.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.color_texto_gris{
  color: rgba(44,47,42,1) !important;
}
.background_gris{
  background: rgba(44,47,42,0.8) !important;
}


.mdb-skin .side-nav .sidenav-bg:after, .mdb-skin .side-nav .sidenav-bg.mask-strong:after {
  background: rgba(44,47,42, 0.8) !important;
}

.mdb-skin .navbar.double-nav a {
    color: rgba(44,47,42,1) !important;
}




.position_breadcum{
  margin-top: 65px;
  margin-bottom: -16px;
}

.modal-full-height { left: 0 !important; margin: 0 auto !important; }


.navbar.scrolling-navbar {

    padding-bottom: 0px !important;
}

.active-link{
  border-bottom: 2px solid #5E7F2C;
  margin-bottom: 0px;
  transition: all;
}
/* esta regla es para el footer*/
main{

  margin-bottom: 62px;

}


/* form */
form{
  width: 100%;
}



.row-eq-height > [class^=col] {
  display: flex;
  flex-direction: column;
}

.row-eq-height > [class^=col]:last-of-type div {
  margin: 0px;
}

.row-eq-height > [class^=col]:last-of-type div:first-of-type {
  margin-top: 0;
}

.row-eq-height > [class^=col]:last-of-type div:last-of-type {
  margin-bottom: 0;
}

.row-eq-height > [class^=col]:first-of-type .black {
  flex-grow: 1;
}


/*
Panel
*/
.header_panel_color.position-relative{
  border-radius:  6px 6px 0px 0px;

}
/*
.header_panel_color.position-relative .list-group-item{
  border-top-left-radius: 50px; 
  border-top-right-radius: 50px; 
}
*/

.list-group-item-cabecera{
  border-radius: 0px 0px 0.25rem 0.25rem;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  
}

.calendario{
  padding-left: 34px;
}

/*
  form
*/


select.ng-invalid.ng-touched{
    border-color: #FF0000;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(222, 48, 48, 0.5);
}


/*

.md-form input[type=text]:focus:not([readonly]).form-control.validate-success, .md-form input[type=password]:focus:not([readonly]).form-control.validate-success, .md-form input[type=email]:focus:not([readonly]).form-control.validate-success, .md-form input[type=url]:focus:not([readonly]).form-control.validate-success, .md-form input[type=time]:focus:not([readonly]).form-control.validate-success, .md-form input[type=date]:focus:not([readonly]).form-control.validate-success, .md-form input[type=datetime-local]:focus:not([readonly]).form-control.validate-success, .md-form input[type=tel]:focus:not([readonly]).form-control.validate-success, .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]).form-control.validate-success, .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]).form-control.validate-success {
    box-shadow: 0 1px 0 0 #4285f4 !important;
    border-bottom: 1px solid #4285f4 !important;
}

input[ng-reflect-mdb-validate=false].form-control.validate-error.ng-invalid.ng-touched + label, input.form-control.validate-error.ng-invalid.ng-dirty + label, .form-submitted input.form-control.validate-error.ng-invalid + label{
      color: #757575 !important;
}



input[ng-reflect-mdb-validate=false].form-control.validate-error.ng-invalid.ng-touched, input.form-control.validate-error.ng-invalid.ng-dirty, .form-submitted input.form-control.validate-error.ng-invalid{
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

input[ng-reflect-mdb-validate=false].form-control.validate-success.ng-valid.ng-dirty + label, input.form-control.validate-success.ng-valid.ng-touched + label, .form-submitted input.form-control.validate-success.ng-valid + label {
      color: #757575 !important;
}


input[ng-reflect-mdb-validate=false].form-control.validate-success.ng-valid.ng-dirty + label.active, input.form-control.validate-success.ng-valid.ng-touched + label.active, .form-submitted input.form-control.validate-success.ng-valid + label.active {
    color:#4285f4 !important;
}

.md-form label.active {
    color: #4285f4 !important;
}

.md-form label {
    color: #757575 !important;
}


input[ng-reflect-mdb-validate=false].form-control.validate-success.ng-valid.ng-dirty + label, input.form-control.validate-success.ng-valid.ng-touched + label, .form-submitted input.form-control.validate-success.ng-valid + label {
    color:#757575 !important;
}


input[ng-reflect-mdb-validate=false].form-control.validate-success.ng-valid.ng-dirty, input.form-control.validate-success.ng-valid.ng-touched, .form-submitted input.form-control.validate-success.ng-valid {
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

*/



/*
  TABLE

*/

.active_tr{
  background: #e2e2e2;
}

table,td,th{
  text-align:center;
  align-text:center;
}


.fa-trash{
  color:red;
}

.inactive{
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/*
  modal
 */

.modal-header{
  font-weigth:bold !important;
  color:white;
}

.modal-dialog{
    overflow-y: initial !important;
}
.modal-body{
    overflow-y: auto;
}

.modal_altura_semicompleta{
  height: 70vh;
}

.ancho_modal_usuario{
  width: 561px;
}

.ancho_modal_crear_entregable{
  width: 660px;

}

/* color iconoes */
.fa-edit:before,.fa-trash:before {
    color: #2c2f34 !important;
}


.verde_header_reverse .fa-edit:before, .verde_header .fa-edit:before  {
    color: #FFFFFF !important;
}

.badge{
  box-shadow:none; 
  font-size:15px;
  font-weight:bold !important;  
}


/* */
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 300 !important;
    font-size:18px;
}

/*.accordion .card .card-header {
 
    padding: 4px !important;

}*/

.md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: none;
}
.badge_defecto.badge-default, badge_defecto.bola_gris {
  font-size:15px;
  font-weight:bold !important;
}

.background_verde,.background_verde .progress .progress-bar{
  background: linear-gradient(to left, #01C920, #0C7F0A)  ;
  background-color: linear-gradient(to left, #01C920, #0C7F0A) ;
  font-size:15px;
  font-weight:bold !important;
}

.background_amarillo_verdoso,.background_amarillo_verdoso .progress .progress-bar{
    background: linear-gradient(to right, #eab92d, #799f0c);
    font-size:15px;
    font-weight:bold !important;
  }
.background_amarillo, .background_amarillo .progress .progress-bar{
  background: linear-gradient(to left, #eab92d 0%,#c79810 100%);
  font-size:15px;
  font-weight:bold !important;
}
.background_naranja, .background_naranja .progress .progress-bar{
  background: linear-gradient(to left, #eab92d 0%,#c79810 100%) ;
  font-size:15px;
  font-weight:bold !important;
}


.background_rojo_amarillo, .background_rojo_amarillo .progress .progress-bar{
  background: linear-gradient(to right, #c21500, #ffc500); 
  font-size:15px;
  font-weight:bold !important;
}

.background_rojo, .background_rojo .progress .progress-bar {
  background: linear-gradient(to right, #ed213a, #93291e) ;
  font-size:15px;
  font-weight:bold !important;  
}

/* progress bar*/

.progress .progreso_barra_dashboard{
  width:500px !important;
}

.progress-bar, .progress {
  height: 20px !important;
}

.progress{
 margin:0px; 
}

/*
    tabs
*/

.tabs-cyan {
   background: #88B93F !important;
}

/*
card
*/
/*mdb-card{
  margin-top:5px;
}*/

.color_sidebar{
  background:#2c2f34;
}

/* menu */
.hidden-sn main {
    padding-top: 3.5rem;
}

a.nav-link.waves-light.font-weight-bold,a.nav-link.waves-light{
  color:#2c2f34 !important;
}
.green-gradient {
    background: linear-gradient(40deg, #DCE35B, #45B649) !important;
}

.verde_header{
  background-color:#a8cf45;
  __background: linear-gradient(40deg, #DCE35B, #45B649) !important;
}


.verde_header_reverse{
  _background: #88B93F;
  background: linear-gradient(40deg,  #45B649,#DCE35B) !important;
}

.header_panel_color{
  background: #5E7F2C;
}

.bordes_gris{
  border: 1px solid rgba(0, 0, 0, 0.125);
}


.sombra{
  transition: all ease 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bola_gris{
   background: linear-gradient(135deg, #404447 0%,#828c95 0%,#28343b 86%) !important; 
}
.bola_roja{
  background: linear-gradient(40deg, #ED213A, #93291E) !important;
}
.bola_verde{
  background: linear-gradient(40deg, #56ab2f, #a8e063) !important;
}
.bola_amarilla{
  background: linear-gradient(to bottom, #eab92d 0%,#c79810 100%) !important;
}
.bola_naranja_clara{
  background: linear-gradient(40deg, #FDC830, #F37335) !important;
}
.bola_naranja_oscura{
  background: linear-gradient(40deg, #f12711, #f5af19) !important;
}



.bola_amarilla_radio:after{
    background: linear-gradient(to bottom, #eab92d 0%,#c79810 100%) !important;
    border:  2px solid #5a5a5a !important;
}
.bola_verde_radio:after{
    background: linear-gradient(40deg, #56ab2f, #a8e063) !important;;
    border: 2px solid #5a5a5a !important;
}
.bola_roja_radio:after{
    background: linear-gradient(40deg, #ED213A, #93291E) !important;
    border:  2px solid #5a5a5a !important;
}
.bola_naranja_clara_radio:after{
    background: linear-gradient(40deg, #FDC830, #F37335) !important;
    border:  2px solid #5a5a5a !important;
}
.bola_naranja_oscura_radio:after{
    background: linear-gradient(40deg, #f12711, #f5af19) !important;
    border:  2px solid #5a5a5a !important;
}


.classic-tabs .nav.tabs-cyan li a.active {
    border-color: #2C2F34;
    font-weight: bold;;
}

.classic-tabs.tab-container .col-md-12{
  margin:0px !important; 
  padding:0px !important; 
}

.classic-tabs .nav li a{
  font-weight: bold;
}

.classic-tabs .nav li a:not(.active) {
  color: white;
}
.classic-tabs {
  white-space: normal;
  background: $verde_umanizalesb;
}

.classic-tabs .tab-content {
  margin-bottom:0px !important;
  margin-top:0px !important;;
}

.tab_indicador tab-content .card{
  height:70vh !important;
}


/* esconder / en breadcum*/

/* scroll */
/*.scroll_y{
    overflow: hidden;
    overflow-y: auto;
}
*/
.scroll_y {
overflow-y: auto;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }


.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }


.scrollbar-gris::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }


.scrollbar-gris::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #555; }




.scrollbar-info::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }

.thin::-webkit-scrollbar {
width: 10px; }

















.rounded-circle{
  border-radius: 50% !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: none;
}
.breadcrumb{
  background: transparent;
}
.fs-19{
  font-size: 19px !important;
}
.cursor_pointer{
  cursor: pointer;
}

.blanco{
  color:white;
}

.ocultar{
	display:none;
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.centrado_vertical{
  position:absolute;
  top: 50%;
  transform: translate(0%,-50%);
}

.ocultar_animacion {
	transition: all 1s ease-in-out;
    -webkit-animation-duration: 2s;animation-duration: 2s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }


.mostrar{
	display:block;
}

.show_preloader{
	display:block;
}

.hide_preloader{
	display:none;
}



.submenu_usuario{
  width:300px;
}

.sombra_Texto_infociad
{
    text-shadow: 2px 2px black;
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

#preloader .loader1 {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

#preloader .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#preloader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific

#preloader .showbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999999999 !important
}

#preloader .cargando{


	  padding-left: 13%;
    padding-top: 13%;
    color: #ffffff;
    font-weight: bold;
    z-index:9999 !important;
}


  .prueba{
    border:1px solid red;
  }

  /*@media (max-width: 1368px) {*/  
    .rectangulo_categoria {

        width: 185px;
        height: 40px;
    }

    .rectangulo_categoria p{
      font-size:  15px;
    }

    .contenedor_categorias {
      width: 799px;
      height: 84px;

    }
   

    .bloque_izq {
      height: 376px;
      width: 91px;
    }

    .texto_bloque_izquierdo,.texto_bloque_derecho {
      font-size: 19px;
    }


    .texto_titulos.texto_titulo_1  {
      font-size: 16px !important;
    }

    .flecha_derecha:nth-child(1n){
      top:40px !important;
    }
    .flecha_derecha:nth-child(2n){
      top:80px !important;
    }
    .flecha_derecha:nth-child(3n){
      top:120px !important;
    }


  /*}*/


  .linea_style{
    border-top: 10px solid #666666;
    height: 11px;
    position: absolute !important;
    width: 37%;
  }

  .linea_direccion{

  }

  .linea-conector{
   __width: 37%;
  }

 .linea-vertical_style{
    __width: 37%;
    /* border-right: 1px solid gray; */
    height: 285px;
    position: absolute;

    border-right: 10px solid #666666;

  }

  .linea-conector:nth-child(1)  {
    right: -70px;
    top: 70px;
  }
  .linea-conector:nth-child(2)  {
    right: -70px;
    bottom: 16px;
  }


  /* der */
  .linea-conector1  {
    left: -70px;
    top: 70px;
  }
  .linea-conector2 {
    left: -70px;
    bottom: 16px;
  }




  .linea-vertica1 {
    right: -46px;
    bottom: 20px;
  }


  /*der*/
  .linea-vertica2{
    left: -46px;
    bottom: 20px;
  }


  .fa-caret-right,.fa-caret-left{
    position:absolute;
    color:#666666;
        z-index: 1;

        font-size: 50px;
  }

  .flechader{

    right: -76px;
    bottom: -1px;
  }



  .flechaizq{

    left: -76px;
    top: 50px;
  }



  .flecha_grande{
    font-size: 48px;
    top: 53%;
    transform: translate(0, -50%);
    z-index: 1;
  }

  .flechaa_grande_derecha{ 

    left: -39px;
  }
  .flechaa_grande_izq{
    right: -37px;
    z-index: -1;
    }



  .fa-long-arrow-alt-right,.fa-long-arrow-alt-left{
    position:absolute;
    color:#666666;
    font-size: 48px;
  }

  .flecha_abajo{
    font-size: 32px;
  }

  .imagen_circulo_um{
    max-width: 16%;
    top: 45px;
    right: 22%;
  }

  .logoum_mapa{
    max-width: 8%;
    top: 27px;
    right: 12%;
  }

  .mapa_procesos_title{
    left: 9%;
    top: 46px;
    color: #666666;
    font-weight: bold;
  }

  .cursor{
    cursor:auto;
  }