<!--Double navigation-->
<header>

  <!-- Sidebar navigation sn-bg-1  -->
  <mdb-side-nav #sidenav class="background_sidemenu" [ngClass]="bMostraMenu?'d-none':''" >

    <div class="container_fuentes color_texto_gris" style="background: transparent;">

      <!--<div class="d-flex flex-center">
        <img src="./assets/img/logoum.jpg" class="img-fluid">
      </div>-->
      <!--<div class="d-flex flex-center mb-2 sombra" style="background: white;border: 4px solid rgba(104,192,77,1);">
        <img src="./assets/img/acreditacion.png" style="width:80%">
      </div>-->
      <div class="mb-2 p-0 flex-center">
        <img src="./assets/img/umnizalesyacre.png" style="width:112px;">
      </div >

      <mdb-accordion [multiple]="true" >
        <!-- item.fuente=='Indicadores' || -->
        <mdb-accordion-item [collapsed]="true" *ngFor="let item of aFuentes"  [hidden]="(item.fuente=='Instructivos' && item.fuente_hijos.length==0)" >
          <mdb-accordion-item-head [ngClass]="item.fuente_hijos.length==0?'quitar_flecha_accordion':''"  (click)="item.fuente_hijos.length==0?fn_setOptionMenu(item,null):'';;" mdbWavesEffect>
            <span [id]="item.fuente" [ngStyle]="{'font-weight':oMenuSeleccionado?.fuente==item.fuente?'bold':'unset'}">{{item.fuente}}</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body *ngIf="item.fuente_hijos.length!=0">

            <mdb-accordion [multiple]="true" >
              <mdb-accordion-item [collapsed]="true" *ngFor="let hijo of item.fuente_hijos">
                <mdb-accordion-item-head class="quitar_flecha_accordion" (click)="fn_setOptionMenu(item,hijo);" >
                  <span [ngStyle]="{'font-weight':oMenuSeleccionado?.hijo_seleccionado?.hijo_nombre==hijo?.hijo_nombre?'bold':'unset'}">{{hijo.hijo_nombre}}</span>



                </mdb-accordion-item-head>
              </mdb-accordion-item>
            </mdb-accordion>

          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>

    </div>


  <!--<div class="sidenav-bg mask-strong"></div>-->
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav verde_header d-flex justify-content-between"
              [containerInside]="false">


    <mdb-navbar-brand>
      <!-- SideNav slide-out button -->
        <!--<a (click)="sidenav.show()" [ngClass]="bMostraMenu?'animation_opacity_ocultar':'animation_opacity_mostrar'" (click)="bPrimeraVez=true;" class="button-collapse hidden-nav-button-collapse animation_opacity d-inline">
          <i class="fas fa-bars" [ngClass]="!bPrimeraVez?'bola_resalte':''" style="color:white"></i>
        </a>-->
      <!--/. SideNav slide-out button -->
      <!--<img src="./assets/img/logoum.png" style="height: 46px;" class="p-0 ml-3">-->

      <!-- Breadcrumb-->

      <!--/. Breadcrumb-->
    </mdb-navbar-brand>
    <mdb-navbar-brand>
      <img *ngIf="oFuenteSeleccionada" [src]="oFuenteSeleccionada?.icon" height="35">
      <span class="ml-3 color-texto-gris font-weight-bold text-uppercase">{{oFuenteSeleccionada?.nombre}}</span>
    </mdb-navbar-brand>
    <mdb-navbar-brand style="display: inherit;">
    <!-- routerLink="/reuniones" routerLinkActive="active-link"-->



    <a class="nav-item dropdown d-inline elementos_menu"  >
        <span dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light font-weight-bold texto_menu" mdbWavesEffect>Alcance</span>
    </a>
    <div class="menuHovering sombra">

      <div class="elemento_submenu">
        <span class="font-weight-bold" style="font-size: 17px;">Alcance del Sistema</span> 
        <br><br>
        <span >Servicios de educación superior de pregrado y posgrado.</span>
      </div>
    </div>

    <a class="nav-item dropdown d-inline elementos_menu"  >
        <span dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light font-weight-bold texto_menu" mdbWavesEffect>Política de calidad</span>
    </a>
    <div class="menuHovering sombra">
      <div class="elemento_submenu">
        <span class="font-weight-bold" style="font-size: 17px;">Política de Calidad</span> 
        <br><br>
        <span class="font-weight-bold">La Universidad de Manizales</span>  con un talento humano comprometido con la  <span class="font-weight-bold">excelencia, los principios y valores insitucionales, satisface las necesidades y expectativas de la sociedad universitaria;</span> brindando servicios de educación superior soportados en una gestión eficiente, eficaz, efectiva de sus procesos, y con la prevención del riesgo,  <span class="font-weight-bold">fortaleciendo la mejora continua de su sistema de gestión.</span>
      </div>
    </div>


    <a class="nav-item dropdown d-inline elementos_menu"  >
        <span class="elemento_submenu" dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light font-weight-bold texto_menu" mdbWavesEffect>Objetivos</span>
    </a>
     <div class="menuHovering sombra">
      <!--<div style="width: 40%;background: white; height: 100%; display:flex;justify-content: center;align-items: center;height: inherit">
        <img src="./assets/img/logoum.jpg" class="img-fluid">
      </div>-->
      <div class="elemento_submenu">
        <span class="font-weight-bold" style="font-size: 17px;">Objetivos de Calidad</span> 
        <br><br>
        <div class="container_check">
          <div class="mr-2"><mdb-icon fas icon="check" class=" texto_verde_oscuro"></mdb-icon></div>
          <div> Consolidar la competencia del talento humano; tomando como base el plan de carrera diseña y desarrollado por la institución. </div>
        </div>

        <div class="container_check">
          <div class="mr-2"><mdb-icon fas icon="check" class=" texto_verde_oscuro"></mdb-icon></div>
          <div> Mantener y mejorar la satisfacción de la sociedad universitaria. </div>
        </div>

        <div class="container_check">
          <div class="mr-2"><mdb-icon fas icon="check" class=" texto_verde_oscuro"></mdb-icon></div>
          <div> Mantener y mejorar la calidad de la oferta académica de la universidad mediante el cumplimiento de los lineamientos del C.N.A, (acreditación institucional y de pregrado y posgrado). </div>
        </div>

        <div class="container_check">
          <div class="mr-2"><mdb-icon fas icon="check" class=" texto_verde_oscuro"></mdb-icon></div>
          <div> Diseñar, desarrollar e implementar el Sistema de Gestión del Riesgo. </div>
        </div>

        <div class="container_check">
          <div class="mr-2"><mdb-icon fas icon="check" class=" texto_verde_oscuro"></mdb-icon></div>
          <div> Fortalecer el mejoramiento continuo del Sistema de Gestión de la Calidad bajo los lineamientos de la norma ISO 90001:2015. </div>
        </div>
      </div>
    </div>
    <a class="nav-item dropdown d-inline elementos_menu no_ocultar_menu"  >
        <span dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light font-weight-bold texto_menu" mdbWavesEffect>Plan de Calidad</span>
    </a>
    <div class="sombra menuHovering no_ocultar_menu" style="height: 85vh; width: 100%">

    <object  class="no_ocultar_menu" data="./assets/data/Plan de Calidad - ISO 9001-2019.pdf" type="application/pdf" width="100%" height="100%">
      <p>Habilita por favor el visor de PDF en las opciones de tu navegador. 
      <a href="./assets/data/Plan de Calidad - ISO 9001-2019.pdf">Download PDF</a>.</p>
    </object>


    </div>

    <a class="nav-item dropdown d-inline elementos_menu no_ocultar_menu"  >
        <span dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light font-weight-bold texto_menu" mdbWavesEffect>Manual de Calidad</span>
    </a>
    <div class="sombra menuHovering no_ocultar_menu" style="height: 85vh; width: 100%">

    <object  class="no_ocultar_menu" data="./assets/data/Documentos Auditor/GCA-MAN-001 Manual de Calidad Universidad de Manizales.pdf" type="application/pdf" width="100%" height="100%">
      <p>Habilita por favor el visor de PDF en las opciones de tu navegador. 
      <a href="./assets/data/Documentos Auditor/GCA-MAN-001 Manual de Calidad Universidad de Manizales.pdf">Download PDF</a>.</p>
    </object>


    </div>


    <!--<a class="navbar-brand" href="#">
        <img src="/assets/img/logoum2.png" height="35" alt="">
    </a>      
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logo_chec.png" height="35" alt="">
    </a>-->
    </mdb-navbar-brand>

    <!--<navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
        <li class="nav-item">
          <mdb-navbar-brand>
              <a class="navbar-brand" href="#">
                  <img src="/assets/img/logo_chec.png" height="35" alt="">
              </a>
          </mdb-navbar-brand>
        </li>

      </ul>
    </navlinks>-->
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<div class="fixed-action-btn boton_flotante" [ngClass]="bMostraMenu?'animation_opacity_ocultar':'animation_opacity_mostrar'" (click)="bMostraMapa=!bMostraMapa">
  <a class="btn-floating btn-lg waves-light boton_flotante verde_oscuro" size="lg" mdbWavesEffect>
    <i class="fas" [ngClass]="bMostraMapa?'fa-times':'fa-sitemap'"></i>
  </a>



</div><!-- [ngClass]="!bMostraMapa?'d-none':''" -->
      <div class="contenedor_ppal_mapa" [ngStyle]="{'z-index':!bMostraMapa?-1:''}"  >
        <div class="row no-gutters  pt-4 mx-3 animation_mapa contenedor_mapa" [ngClass]="bMostraMapa?'animation_mapa_mostrar':'animation_mapa_ocultar'" style="z-index:1003 !important;background:   white;background: url('./assets/img/mascara_seccion.png') right top repeat-x rgba(255, 255, 255, 0.9);">
          <h1 class="position-absolute uppercase mapa_procesos_title">MAPA DE PROCESOS</h1>

          <img src="./assets/img/logoumcirculo.png" class="position-absolute imagen_circulo_um">
          <img src="./assets/img/logoum.png" class="position-absolute logoum_mapa">

          <div style="margin-right:71px;">

              <div class="text-center contenedor_bloque_izq " style=" position:  relative;">
                   <!-- izq -->
                  <div class="linea_style linea-conector"></div>
                  <div class="linea_style linea-conector"></div>
                  <i class="fas fa-caret-right flechader"></i>
                  <div class="linea-vertical_style linea-vertica1"></div>
                  <i class="fas fa-long-arrow-alt-right flecha_grande flechaa_grande_izq"></i>



                  <div  class="bloque_izq sombra cursor"  [ngClass]="categoria=='clientes'?'seleccion_categoria':''"  >
                      <p class="p-0 m-0 texto_titulos texto_bloque_izquierdo">                  
  
                        Grupos de Interés</p>
                   </div>
                  
                 <!-- <div  class="bloque_izq sombra cursor" (click)="categoria='clientes';titulo='';" [ngClass]="categoria=='clientes'?'seleccion_categoria':''"  >
                    <p class="p-0 m-0 texto_titulos texto_bloque_izquierdo">                  

                      Grupos de Interés</p>
                 </div> -->

              </div>
            </div>
            <div style="margin-right:71px;">

              <div class="text-center " style="position: relative" >

                    <!--Grid row-->
                    <div  mdbWavesEffect class="d-inline-block " style="position: relative;" >
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos" >GERENCIALES</p>
                      <div  class="forma_titulos sombra" [ngClass]="titulo=='gerenciales'?'seleccion_titulo':''">
                        <img src="./assets/img/gerenciales.svg" class="icon_titulo_left" >
                      </div>
                    </div>

                    <div   id="gerenciales" style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('gestion_academico','gerenciales','Planeación Institucional')"  [ngClass]="categoria=='gestion_academico'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0" >Planeación Institucional</p>
                            <img class="icon_1" src="./assets/img/gestion_estrategica.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('calidad','gerenciales','Gestion de Calidad')"  [ngClass]="categoria=='calidad'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0" >Gestión de la Calidad</p>
                            <img class="icon_1" src="./assets/img/quality.svg"   >
                          </div>
                        </div>
                      </div>
                    </div>

                    <i class="fas fa-long-arrow-alt-down flecha_abajo"></i>


                    <div mdbWavesEffect class="d-inline-block" style=" margin-top:-15px; position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">MISIONALES</p>
                      <div  class="forma_titulos sombra" [ngClass]="titulo=='misionales'?'seleccion_titulo':''">
                        <img src="./assets/img/misionales.svg" class="icon_titulo_left">

                      </div>
                    </div>
                    <div  id="misionales"   style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('docencia','misionales','Docencia')"   [ngClass]="categoria=='docencia'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 "  >Docencia</p>
                            <img class="icon_1" src="./assets/img/docencia.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('investigacion','misionales','Investigacion y Posgrados')" [ngClass]="categoria=='investigacion'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Investigación y Posgrados</p>
                            <img class="icon_1" src="./assets/img/investigacion.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('proyeccion','misionales','Proyección Social')"   [ngClass]="categoria=='proyeccion'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Proyección Social</p>
                            <img class="icon_1" src="./assets/img/proyeccion_social.svg"   >
                          </div>
                        </div>
                      </div>
                    </div>

                    <i class="fas fa-long-arrow-alt-up flecha_abajo"></i>


                    <div  mdbWavesEffect class="d-inline-block" style=" margin-top:-15px; position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">APOYO / SOPORTE</p>
                      <div  class="forma_titulos sombra" [ngClass]="titulo=='apoyo'?'seleccion_titulo':''" >
                        <img src="./assets/img/apoyo.svg" class="icon_titulo_left">


                      </div>
                    </div>
                    <div  id="apoyo_soporte"   style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('humano','apoyo','Desarrollo Humano')"  [ngClass]="categoria=='humano'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Desarrollo Humano</p>
                            <img class="icon_1" src="./assets/img/desarrollo_humano.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('infraestructura','apoyo','Infraestructura')"  [ngClass]="categoria=='infraestructura'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 "  >Infraestructura</p>
                            <img class="icon_1" src="./assets/img/infraestructura.svg"   >
                         </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="fn_goProcess('academico','apoyo','Recursos de Apoyo Academico')"  [ngClass]="categoria=='academico'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 "  >Recursos de Apoyo Académico</p>
                            <img class="icon_1" src="./assets/img/academico.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect  (click)="fn_goProcess('financiera','apoyo','Gestion Financiera')"   [ngClass]="categoria=='financiera'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Financiero</p>
                            <img class="icon_1" src="./assets/img/financiera.svg"   >
                          </div>
                        </div>

                      </div>
                    </div>
                 


              </div>


            </div>
            <div class="text-center contenedor_bloque_derecho " style="position:relative;">
                                 <!-- der -->
                <div class="linea_style linea-conector1"></div>
                <div class="linea_style linea-conector2"></div>
                <i class="fas fa-caret-left flechaizq"></i>
                <div class="linea-vertical_style linea-vertica2"></div>
                <i class="fas fa-long-arrow-alt-right flecha_grande flechaa_grande_derecha"></i>
               
                <div  class="bloque_izq sombra cursor"  [ngClass]="categoria=='satisfaccion'?'seleccion_categoria':''" >
                    <p class="p-0 m-0 texto_titulos texto_bloque_derecho" >Satisfacción de los grupos de interés</p>
                 </div>
               <!-- <div mdbWavesEffect class="bloque_izq sombra cursor" (click)="categoria='satisfaccion';titulo='';" [ngClass]="categoria=='satisfaccion'?'seleccion_categoria':''" >
                  <p class="p-0 m-0 texto_titulos texto_bloque_derecho" >Satisfacción de los grupos de interés</p>
               </div> -->
            </div>

        </div>
      </div>
<!--/.Double navigation-->